<div class="app-container with-tabbar tuidie-home" ng-controller="HomeController">
    <!--<div class="navbar fixed-top">
        <div class="search" ng-click="touchSearch()">
            <img class="search-icon" ng-src="image/ind-search.png" />
            <span class="search-text">请输入您要搜索的商品</span>
        </div>
    </div>-->
    
    <div class="app-content" infinite-scroll='loadMore()'>
        <div class="home-search">
            <div class="search" ng-click="touchSearch()">
                <div class="search-icon">
                    <i class="iconfont icon-sousuo"></i>
                </div>
                <!--<img class="search-icon" ng-src="image/ind-search.png" />-->
                <span class="search-text">请输入您要搜索的商品</span>
            </div>
        </div>
        <!-- Banner -->
        <div class="home-banner swiper-container" ng-if="banners && banners.length">
            <div class="swiper-wrapper">
                <div class="banner-slide swiper-slide" ng-repeat="banner in banners track by $index">
                    <img ng-src="{{formatUrl(banner.photo.large) || 'image/default-photo.png'}}" class="slide-image" />
                    <div>{{banner}}</div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- Menu -->
        <div class="home-menu" ng-if="banners && banners.length">
            <div class="menu-item" ui-sref="homemenuList({type:'眼部'})">
                <img class="item-icon" ng-src="image/tuidie/home/眼部.png" />
                <div class="item-text">眼部</div>
            </div>
            <div class="menu-item" ui-sref="homemenuList({type:'鼻部'})">
                <img class="item-icon" ng-src="image/tuidie/home/鼻部.png" />
                <div class="item-text">鼻部</div>
            </div>
            <div class="menu-item" ui-sref="homemenuList({type:'皮肤管理'})">
                <img class="item-icon" ng-src="image/tuidie/home/皮肤管理.png" />
                <div class="item-text">皮肤管理</div>
            </div>
            <div class="menu-item" ui-sref="homemenuList({type:'脱毛'})">
                <img class="item-icon" ng-src="image/tuidie/home/脱毛.png" />
                <div class="item-text">脱毛</div>
            </div>
            <div class="menu-item" ui-sref="homemenuList({type:'胸部'})">
                <img class="item-icon" ng-src="image/tuidie/home/胸部.png" />
                <div class="item-text">胸部</div>
            </div>
            <div class="menu-item" ui-sref="homemenuList({type:'针剂'})">
                <img class="item-icon" ng-src="image/tuidie/home/针剂.png" />
                <div class="item-text">针剂</div>
            </div>
        </div>
	
        <!-- Notice -->
        <div class="home-notice" ng-if="newslist && newslist.length">
            <!--<img class="notice-icon" ng-src="image/home-notice.png" />-->
           <div class="notice-icon">
               <i class="iconfont icon-guangbo"></i>
           </div>
            <div class="notice-vline"></div>
            <div class="notice-slide swiper-container">
                <ul>
					<li ng-repeat="news in newslist track by $index">{{news.title}}</li>
				</ul>
            </div>
        </div>
       
        <!--picture-->
        <div class="home-flex-picture">
            <div ng-click="touchProduct(product)" ng-repeat="product in newArrival track by $index" class="flex-item">
                <img ng-src="{{product.default_photo.thumb || 'image/default-photo.png'}}" alt="" />
            <!--<img ng-src="{{formatUrl(banner.photo.large) || 'image/default-photo.png'}}" class="slide-image" />-->
            </div>
            
        </div>
        <!--big picture-->
        

    </div>

    <div class="tabbar fixed-bottom">
        <div class="tab active" ng-click="goHome()">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/首页2.png" />
            </div>
            <p>首页</p>
        </div>
        <div class="tab" ui-sref="diary">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/蜕蝶日记.png" />
            </div>
            <p>蜕蝶日记</p>
        </div>
        <div class="tab" ng-click="goCart()">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/购物车.png" />
            </div>
            <p>购物车</p>
            <div class="tab-badge" ng-if="cartModel.total > 0">
                {{cartModel.total}}
            </div>
        </div>
        <div class="tab" ng-click="goProfile()">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/我的.png" />
            </div>
            <p>我的</p>
        </div>
    </div>

</div>
