$bg-active-color:rgb(255,39,63);
$bg-gray-color:rgb(240,240,240);
$line-main-color:rgb(230,230,230);
$font-main-color:rgb(51,51,51);
$font-sup-color:rgb(102,102,102);
$navbar-height:44px;

@import "www/modules/home/home";
@import "www/modules/profile/profile";
@import "www/modules/diary/diary";
@import "www/modules/diary-detail/diary-detail";
@import "www/modules/homemenu-list/homemenu-list";
@import "www/modules/my-sharecode/my-sharecode";
@import "www/modules/my-weixin/my-weixin";