<div class="app-container with-navbar with-tabbar tuidie-diary" ng-controller="DiaryController">

    <div class="navbar fixed-top">
        <div class="navbar-left hide-weixin">
            <img class="button-icon" src="../../image/tuidie/function/水印@2x.png"/>

        </div>
        <div class="navbar-title">
            	
        </div>
    </div>

    <div class="app-content">
        <div class="diary-list"> 
        	<div class="diary-item">
        		<div class="head-info">
        			<div class="img"><img src="dist/image/default-avatar.png"/></div>
        			<div class="name">蜕蝶用户</div>
        		</div>
        		<div class="photo-info">
        			<div class="ptoto-before"><img src="dist/image/icon.ico/android-icon-144x144.png"/></div>
        			<div class="ptoto-after"><img src="dist/image/icon.ico/android-icon-144x144.png"/></div>
        		</div>
        		<div class="text-desc">
        			隆鼻术（Rhinoplasty）是指通过在鼻部填充自体、异体组织或组织代用品以垫高外鼻，达到改善鼻部容貌的手术。隆鼻手术切口有鼻小柱切口、鼻腔内切两种术式，其中鼻腔内切口（靠近鼻小柱一侧）因切口隐蔽、外表看不到痕迹而被普遍采用。
        		</div>
        		<div class="logo-one">
        			<div class="logo"><img src="../../image/tuidie/function/水印2@2x.png"/></div>
        			<div class="text">综合 隆鼻 自体脂肪填充</div>
        		</div>
        		<div class="logo-two">
        			<div class="logo"><img src="../../image/tuidie/function/水印@2x.png"/></div>
        			<div class="text">综合 隆鼻 自体脂肪填充</div>
        			<div class="price">￥4900</div>
        		</div>
        	</div>
        	<div class="diary-item">
        		<div class="head-info">
        			<div class="img"><img src="dist/image/default-avatar.png"/></div>
        			<div class="name">蜕蝶用户</div>
        		</div>
        		<div class="photo-info">
        			<div class="ptoto-before"><img src="dist/image/icon.ico/android-icon-144x144.png"/></div>
        			<div class="ptoto-after"><img src="dist/image/icon.ico/android-icon-144x144.png"/></div>
        		</div>
        		<div class="text-desc">
        			隆鼻术（Rhinoplasty）是指通过在鼻部填充自体、异体组织或组织代用品以垫高外鼻，达到改善鼻部容貌的手术。隆鼻手术切口有鼻小柱切口、鼻腔内切两种术式，其中鼻腔内切口（靠近鼻小柱一侧）因切口隐蔽、外表看不到痕迹而被普遍采用。
        		</div>
        		<div class="logo-one">
        			<div class="logo"><img src="../../image/tuidie/function/水印2@2x.png"/></div>
        			<div class="text">综合 隆鼻 自体脂肪填充</div>
        		</div>
        		<div class="logo-two">
        			<div class="logo"><img src="../../image/tuidie/function/水印@2x.png"/></div>
        			<div class="text">综合 隆鼻 自体脂肪填充</div>
        			<div class="price">￥4900</div>
        		</div>
        	</div>
        </div>


    </div>
    
    <div class="tabbar fixed-bottom">
        <div class="tab" ng-click="goHome()">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/首页.png" />
            </div>
            <p>首页</p>
        </div>
        <div class="tab active" ui-sref="diary">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/蜕蝶日记2.png" />
            </div>
            <p>蜕蝶日记</p>
        </div>
        <div class="tab" ng-click="goCart()">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/购物车.png" />
            </div>
            <p>购物车</p>
            <div class="tab-badge" ng-if="cartModel.total > 0">
                {{cartModel.total}}
            </div>
        </div>
        <div class="tab" ng-click="goProfile()">
            <div class="img">
                <img class="tab-icon" ng-src="image/tuidie/tabs/我的.png" />
            </div>
            <p>我的</p>
        </div>
    </div>

</div>
